# Data Import - Working with Web APIs and JSON

### Importing Data from JSON Files

In [1]:
import pandas as pd 
import json

We can transform the data that is stored in JSON file into a Python object.

In [2]:
with open("blockbusters.json") as f:
    data = json.load(f)

In [6]:
type(data)

list

In [7]:
len(data)

18

Let's check the first element of the data.

In [8]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

We should convert the data to dataframe.

In [9]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

We can see the data frame still includes nested information. Before flattening the data, let's load it by using a more straightforward way.

In [13]:
df = pd.read_json("blockbusters.json")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

Normalize belongs_to_collection column

In [14]:
pd.json_normalize(data = data, sep = "_")

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

We should flatten the genres column and attach the dataframe with the meta data.

In [17]:
pd.json_normalize(data = data, record_path = "genres", meta = ["title", "id"],
                  record_prefix = "genre_")

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

## Working with APIs and JSON

Let's import the proper library for the requests

In [23]:
import requests
pd.options.display.max_columns = 30

You should use your own API key for the authentication

In [27]:
api_key  = "85e49e8973f1dedd4876f20043342a39"

We want to pull star wars data so the proper id is in the below cell.

In [28]:
movie_id = 140607

In [34]:
movie_api = "https://api.themoviedb.org/3/movie/{}?api_key="
movie_api

'https://api.themoviedb.org/3/movie/{}?api_key='

Let's set the proper url for the http request

In [35]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=85e49e8973f1dedd4876f20043342a39'

In [36]:
r = requests.get(url)
r

Let's transform the request object in the json file format.

In [37]:
data = r.json()

In [38]:
data

{'adult': False,
 'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 52.573,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.295,
 'vote_count': 18224}

In [39]:
type(data)

dict

For the further investigation we should change the format as pandas dataframe

In [40]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,52.573,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.295,18224

Lastly, we should flatten the data

In [41]:
pd.json_normalize(data, sep = "_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,52.573,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.295,18224,10,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [42]:
pd.json_normalize(data = data, record_path = "genres", meta = "title")

    id             name                         title
0   12        Adventure  Star Wars: The Force Awakens
1   28           Action  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens

In [43]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title")

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

### Discover Module

In [50]:
discover_api = "https://api.themoviedb.org/3/discover/movie?api_key="

Let's pull the movies between the years 2020-01-01 to 2020-02-29

In [51]:
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"

let's create the url for the request

In [52]:
url = discover_api+api_key+query

In [53]:
data = requests.get(url).json()

In [54]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil genius Dr. Robotnik. Now it’s super-villain vs. super-sonic in an all-out race across the globe to stop Robotnik from using Sonic’s unique power for world domination.',
   'popularity': 81.297,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 8817},
  {'adult': False,
   'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 68.116,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7,
   'vote_count': 9555},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 47.152,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 3338},
  {'adult': False,
   'backdrop_path': '/v7eMYrYpcTJORioMKMgjnzyewWH.jpg',
   'genre_ids': [10749],
   'id': 679057,
   'original_language': 'ko',
   'original_title': '가슴 큰 태희',
   'overview': 'Cha-wook and Min-joo are about to get married. Cha-wook proposes a couple trip to Yong-woo’s wife who is his junior at work. Ji-yeon doesn’t like uncomfortable trips but Yong-woo’s boss forced her. The trip has been decided and Cha-wook plans to stay with Ji-yeon, who he’s been eyeing. Min-joo is forced to join. On the day of the trip, Min-joo finally tells everything to Ji-yeon and Ji-yeon decides to use Cha-wook.',
   'popularity': 52.865,
   'poster_path': '/aKoGgpKn6N04kWQp03LSAweN3dn.jpg',
   'release_date': '2020-02-27',
   'title': 'Bosomy Tae-hee',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 4},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 44.437,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 5617},
  {'adult': False,
   'backdrop_path': '/sizHX5VbwlBihaathTQHVGk1jdi.jpg',
   'genre_ids': [878, 18, 28],
   'id': 514207,
   'original_language': 'ru',
   'original_title': 'Вторжение',
   'overview': 'Two years after the fall of the alien ship, the life of a young woman from Moscow has been changed forever. Her growing powers are now at the focus of both human and celestial investigation: an alien force takes an interest in her, and will stop short of nothing, including an invasion. Can love and compassion save humanity, when faced with a much greater and more demanding test this time?',
   'popularity': 40.575,
   'poster_path': '/dqKqzcdhtJwOhjqe89RTURqILtl.jpg',
   'release_date': '2020-01-01',
   'title': 'Invasion',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 715},
  {'adult': False,
   'backdrop_path': '/4J1Vu6oGzt60fakP4delEPDqEhI.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 49.903,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 7507},
  {'adult': False,
   'backdrop_path': '/z8sNNjEXEpZNQCHCuo3QH8kK00t.jpg',
   'genre_ids': [10749],
   'id': 665142,
   'original_language': 'ko',
   'original_title': '어린 이모 3',
   'overview': "Seok-yeong has been living with his father ever since his parents got divorced when he was young. His father, Joong-nam, would always introduce his new girlfriends to Seok-yeong, but Seok-yeong didn't like running into strangers in his house. At the same time, Seok-yeong feels more comfortable with women older than him.  One day, Joong-nam says he's going to marry his new girlfriend, Gyeo-won. At a family dinner, Seok-yeong feels attracted to Gyeo-won's sister, Gyeo-woon, but he has to call her 'aunt'",
   'popularity': 34.892,
   'poster_path': '/qD7kT9LysayisTiCrdFyhZWIuK1.jpg',
   'release_date': '2020-01-02',
   'title': 'Young Aunt 3',
   'video': False,
   'vote_average': 5.3,
   'vote_count': 6},
  {'adult': False,
   'backdrop_path': '/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg',
   'genre_ids': [10751, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 35.144,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-02',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 3358},
  {'adult': False,
   'backdrop_path': '/isBjNHBblzxrzHrAtRbjgkYzAut.jpg',
   'genre_ids': [10749, 18],
   'id': 664413,
   'original_language': 'pl',
   'original_title': '365 dni',
   'overview': 'A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.',
   'popularity': 36.154,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'release_date': '2020-02-07',
   'title': '365 Days',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 8373},
  {'adult': False,
   'backdrop_path': '/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg',
   'genre_ids': [35, 80, 28],
   'id': 522627,
   'original_language': 'en',
   'original_title': 'The Gentlemen',
   'overview': 'American expat Mickey Pearson has built a highly profitable marijuana empire in London. When word gets out that he’s looking to cash out of the business forever it triggers plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.',
   'popularity': 43.514,
   'poster_path': '/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg',
   'release_date': '2020-01-01',
   'title': 'The Gentlemen',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 4990},
  {'adult': False,
   'backdrop_path': '/77xFxLtD2jGpOrcjJbCez2wZWX1.jpg',
   'genre_ids': [10749],
   'id': 698818,
   'original_language': 'ko',
   'original_title': '음란 주택: 노예가 된 아내',
   'overview': 'Hyun-jung, who moved to a local mansion, was delighted with unexpected luck. She hated the noise between the floors so she wanted a quiet place with soundproofing. Since the tenants were mostly working couples, the mansion is quiet like a haunted city.',
   'popularity': 39.048,
   'poster_path': '/1VfuzK2Qx1tIGE1nhn2G2ilF7RN.jpg',
   'release_date': '2020-02-06',
   'title': 'Obscene House: Slave Wife',
   'video': False,
   'vote_average': 1,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 29.456,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 6.2,
   'vote_count': 239},
  {'adult': False,
   'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg',
   'genre_ids': [53, 878, 27],
   'id': 570670,
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'popularity': 28.954,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'release_date': '2020-02-26',
   'title': 'The Invisible Man',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 5213},
  {'adult': False,
   'backdrop_path': '/tmS9oXeMVs6njcxndDKsjJSF02H.jpg',
   'genre_ids': [18],
   'id': 552532,
   'original_language': 'en',
   'original_title': 'Charm City Kings',
   'overview': 'Mouse desperately wants to join The Midnight Clique, the infamous Baltimore dirt bike riders who rule the summertime streets. When Midnight’s leader, Blax, takes 14-year-old Mouse under his wing, Mouse soon finds himself torn between the straight-and-narrow and a road filled with fast money and violence.',
   'popularity': 22.901,
   'poster_path': '/8oiMFMarbRpcusASIX4cjVXoZKI.jpg',
   'release_date': '2020-01-27',
   'title': 'Charm City Kings',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 399},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [27, 878, 28, 12],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 29.281,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2778},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [10749],
   'id': 699173,
   'original_language': 'ko',
   'original_title': '유부녀들: 남편 바꾸기',
   'overview': "After marriage, Sun-ah and Joo-hee seem to have become bored with their husbands. They meet and talked about their worries. Because their husbands coldness, they can't even remember when was the last time they had sex. Joo-hee says she can't take it anymore so she tried to find someone through a dating app but Sun-ah stopped her. After contemplating, they both wore sexy lingeries and tried to seduce their husbands, but it didn't work. Finally, as a last resort, they change husbands for a night and make love...",
   'popularity': 24.896,
   'poster_path': '/1XyStZnmbSlDQ4muChXiUawe4Q3.jpg',
   'release_date': '2020-01-23',
   'title': 'Married Women: Husband Change',
   'video': False,
   'vote_average': 5,
   'vote_count': 4},
  {'adult': False,
   'backdrop_path': '/bNZB25TQxt0jEVgJOJ09tD2es7k.jpg',
   'genre_ids': [27, 53],
   'id': 575774,
   'original_language': 'en',
   'original_title': 'His House',
   'overview': 'After making a harrowing escape from war-torn South Sudan, a young refugee couple struggle to adjust to their new life in a small English town that has an unspeakable evil lurking beneath the surface.',
   'popularity': 23.448,
   'poster_path': '/idh2QAy5NwBRN94ScmtWrukvOgJ.jpg',
   'release_date': '2020-01-27',
   'title': 'His House',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 958},
  {'adult': False,
   'backdrop_path': '/f6YSikiGgSx2IEHiDAWwTt3uEki.jpg',
   'genre_ids': [35, 18, 10749],
   'id': 802119,
   'original_language': 'en',
   'original_title': 'All About Sex',
   'overview': 'Three friends in their mid-20s struggle to navigate their professional and personal lives, colliding head on with the messy, hilarious and dreadful growing pangs of adulthood.',
   'popularity': 25.338,
   'poster_path': '/vjs95PJRf5rzlRIIbT7ei6IxL9v.jpg',
   'release_date': '2020-01-16',
   'title': 'All About Sex',
   'video': False,
   'vote_average': 6.4,
   'vote_count': 29},
  {'adult': False,
   'backdrop_path': '/yy85YPsJEVxCy97A89cAwdsCUXa.jpg',
   'genre_ids': [18, 10749],
   'id': 677115,
   'original_language': 'zh',
   'original_title': '비뇨기과 여의사들 2',
   'overview': 'Jin Hee is a female urologist who runs a urology department with few patients. One day, a new nurse, Yeon-hee, comes in and works. However, she throws her her whole body in the treatment of patients with an unusual professional spirit. This fact is quickly rumored and patients flock in. Skilled female doctor Jin Hee also starts hot treatment to save the hospital...',
   'popularity': 27.48,
   'poster_path': '/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg',
   'release_date': '2020-02-20',
   'title': 'Female Urologists 2',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 7}],
 'total_pages': 277,
 'total_results': 5529}

In [55]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",277,5529
1,1,"{'adult': False, 'backdrop_path': '/uozb2VeD87...",277,5529
2,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",277,5529
3,1,"{'adult': False, 'backdrop_path': '/v7eMYrYpcT...",277,5529
4,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",277,5529
5,1,"{'adult': False, 'backdrop_path': '/sizHX5Vbwl...",277,5529
6,1,"{'adult': False, 'backdrop_path': '/4J1Vu6oGzt...",277,5529
7,1,"{'adult': False, 'backdrop_path': '/z8sNNjEXEp...",277,5529
8,1,"{'adult': False, 'backdrop_path': '/AgkGh4epJy...",277,5529
9,1,"{'adult': False, 'backdrop_path': '/isBjNHBblz...",277,5529
10,1,"{'adult': False, 'backdrop_path': '/tintsaQ0WL...",277,5529
11,1,"{'adult': False, 'backdrop_path': '/77xFxLtD2j...",277,5529
12,1,"{'adult': False, 'backdrop_path': '/rc8WAwoTTZ...",277,5529
13,1,"{'adult': False, 'backdrop_path': '/tweDJNQzBG...",277,5529
14,1,"{'adult': False, 'backdrop_path': '/tmS9oXeMVs...",277,5529
15,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",277,5529
16,1,"{'adult': False, 'backdrop_path': None, 'genre...",277,5529
17,1,"{'adult': False, 'backdrop_path': '/bNZB25TQxt...",277,5529
18,1,"{'adult': False, 'backdrop_path': '/f6YSikiGgS...",277,5529
19,1,"{'adult': False, 'backdrop_path': '/yy85YPsJEV...",277,5529

In [56]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,"Powered with incredible speed, Sonic The Hedge...",81.297,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.4,8817
1,False,/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",68.116,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,7.0,9555
2,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,47.152,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,3338
3,False,/v7eMYrYpcTJORioMKMgjnzyewWH.jpg,[10749],679057,ko,가슴 큰 태희,Cha-wook and Min-joo are about to get married....,52.865,/aKoGgpKn6N04kWQp03LSAweN3dn.jpg,2020-02-27,Bosomy Tae-hee,False,6.5,4
4,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",44.437,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.7,5617
5,False,/sizHX5VbwlBihaathTQHVGk1jdi.jpg,"[878, 18, 28]",514207,ru,Вторжение,"Two years after the fall of the alien ship, th...",40.575,/dqKqzcdhtJwOhjqe89RTURqILtl.jpg,2020-01-01,Invasion,False,6.9,715
6,False,/4J1Vu6oGzt60fakP4delEPDqEhI.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,49.903,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.1,7507
7,False,/z8sNNjEXEpZNQCHCuo3QH8kK00t.jpg,[10749],665142,ko,어린 이모 3,Seok-yeong has been living with his father eve...,34.892,/qD7kT9LysayisTiCrdFyhZWIuK1.jpg,2020-01-02,Young Aunt 3,False,5.3,6
8,False,/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg,"[10751, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",35.144,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-02,Dolittle,False,6.6,3358
9,False,/isBjNHBblzxrzHrAtRbjgkYzAut.jpg,"[10749, 18]",664413,pl,365 dni,"A woman falls victim to a dominant mafia boss,...",36.154,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,2020-02-07,365 Days,False,7.1,8373
10,False,/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg,"[35, 80, 28]",522627,en,The Gentlemen,American expat Mickey Pearson has built a high...,43.514,/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg,2020-01-01,The Gentlemen,False,7.7,4990
11,False,/77xFxLtD2jGpOrcjJbCez2wZWX1.jpg,[10749],698818,ko,음란 주택: 노예가 된 아내,"Hyun-jung, who moved to a local mansion, was d...",39.048,/1VfuzK2Qx1tIGE1nhn2G2ilF7RN.jpg,2020-02-06,Obscene House: Slave Wife,False,1.0,1
12,False,/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg,[27],575088,ru,Яга. Кошмар тёмного леса,The young family who moved to a new apartment ...,29.456,/8m5HTXzwewlfXhtZtLlLts53YTW.jpg,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,6.2,239
13,False,/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg,"[53, 878, 27]",570670,en,The Invisible Man,When Cecilia's abusive ex takes his own life a...,28.954,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,2020-02-26,The Invisible Man,False,7.1,5213
14,False,/tmS9oXeMVs6njcxndDKsjJSF02H.jpg,[18],552532,en,Charm City Kings,Mouse desperately wants to join The Midnight C...,22.901,/8oiMFMarbRpcusASIX4cjVXoZKI.jpg,2020-01-27,Charm City Kings,False,7.9,399
15,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[27, 878, 28, 12]",443791,en,Underwater,After an earthquake destroys their underwater ...,29.281,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.3,2778
16,False,None,[10749],699173,ko,유부녀들: 남편 바꾸기,"After marriage, Sun-ah and Joo-hee seem to hav...",24.896,/1XyStZnmbSlDQ4muChXiUawe4Q3.jpg,2020-01-23,Married Women: Husband Change,False,5.0,4
17,False,/bNZB25TQxt0jEVgJOJ09tD2es7k.jpg,"[27, 53]",575774,en,His House,After making a harrowing escape from war-torn ...,23.448,/idh2QAy5NwBRN94ScmtWrukvOgJ.jpg,2020-01-27,His House,False,6.5,958
18,False,/f6YSikiGgSx2IEHiDAWwTt3uEki.jpg,"[35, 18, 10749]",802119,en,All About Sex,Three friends in their mid-20s struggle to nav...,25.338,/vjs95PJRf5rzlRIIbT7ei6IxL9v.jpg,2020-01-16,All About Sex,False,6.4,29
19,False,/yy85YPsJEVxCy97A89cAwdsCUXa.jpg,"[18, 10749]",677115,zh,비뇨기과 여의사들 2,Jin Hee is a female urologist who runs a urolo...,27.480,/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg,2020-02-20,Female Urologists 2,False,6.6,7